/*幅設定*/
.calendar-header,
.calendar-week,
.topbar,
.calendar,
.schedulelist {
  width: 100%;
}
.kaihatsutyu {
  display: none;
}

/*カレンダーのヘッダデザイン*/
.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px;
}

/*カレンダー余白*/
.calendar {
  padding: 5px 20px 5px;
}

/*カレンダーデザイン*/
.calendar-week,
.topbar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.topbar-days {
  margin: 5px;
}
.calendar-week {
  height: 100px;
}
.daybox {
  padding: 5px;
}


/*枠線制御*/
.topbar {
  border: 1px solid #bbb;
}

.calendar-week {
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.daybox {
  border-right: 1px solid #bbb;
}


/*予定リスト部分*/
.schedulelist {
  padding: 20px 20px 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-top {
  display: flex;
  justify-content: space-around;
}
.item-time {
  display: block;
}