
/*全体*/
.calendar {
  margin: 5px 20px 5px 20px;
}

/*カレンダーデザイン*/
.calendar-week,
.topbar {
  width: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.topbar-days {
  margin: 5px;
}
.calendar-week {
  height: 100px;
}



/*枠線制御*/
.topbar {
  border: 1px solid #bbb;
}

.calendar-week {
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.daybox {
  border-right: 1px solid #bbb;
}